/* Topbar Style */
.topbar {
    background-color: #232F3E;
}

.topbar-icon {
    color: #fff;
}

.topbar-2 {
    background-color: #131921;
}

.topbar-2 h1 {
    color: #fff;
}


/* Offer Style */
.offer-color {
    background-color: #A7DFEE;
}


/* Footer Style */
.footer-color {
    background-color: #485769;
}

.footer-color p,
h1,
h5 {
    color: #fff;
}